@use "mixins" as mixins;
@use "colors" as c;

.about {
  display: flex;
  flex-direction: column;
  @include mixins.margin-section;

  p {
    &:nth-child(2) {
      margin-bottom: 2rem;
    }
    &:nth-child(5) {
      margin-top: 2rem;
    }
  }

  .technologies {
    h3 {
      margin-bottom: 1rem;
    }

    > * {
      display: flex;
      justify-content: space-evenly;
    }

    // ul {
    //   display: flex;
    //   list-style-type: none;
    //   li {
    //     // padding: 1rem;
    //     background-color: c.$df;
    //     color: c.$db;
    //     border-radius: 10px;
    //     margin: 0.5rem;
    //     // background-color: blue;
    //   }
    // }
  }

  .video {
    margin: 0 auto;
    position: relative;
    margin-bottom: 2rem;
  }
}
