@use "colors" as c;

.contact {
  padding-bottom: 100px;

  .contact-description {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .right {
    margin: 0 2rem;

    p {
      margin-bottom: 1rem;
    }
  }

  .contact-links {
    padding: 1rem;

    li {
      margin-bottom: 0.5rem;
    }
    a {
      text-decoration: none;
      font-weight: bold;
      color: c.$light;
    }
  }
}
