@use "colors" as c;
@use "mixins" as mixins;

.contact {
  // padding-bottom: 100px;
  margin-bottom: 5rem;

  &__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include mixins.mq(900px) {
      flex-direction: row;
    }
  }

  &__info {
    @include mixins.mq(900px) {
      margin-left: 1rem;
    }

    p {
      margin: 1rem 0;
    }
  }

  &__links {
    padding: 1rem;
    text-align: center;
    list-style-type: none;
    // @include mixins.mq(699px) {
    //   display: flex;
    //   justify-content: space-evenly;
    //   list-style-type: none;
    // }
    @include mixins.mq(900px) {
      list-style-type: disc;
      text-align: left;
    }

    li {
      margin-bottom: 0.5rem;
    }
    a {
      text-decoration: none;
      font-weight: bold;
      color: c.$light;
    }
  }
}
