@use "mixins" as mixins;

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mixins.margin-section;

  h1 {
    font-size: 3.5rem;
  }

  .picture {
    svg {
      width: 300px;
    }
  }
}
