@use "mixins" as mixins;

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @include mixins.margin-section;
  @include mixins.mq(800px) {
    flex-direction: row-reverse;
  }

  .hi {
    h1 {
      font-size: 4rem;
    }
    // text-align: center;
    margin-bottom: 1rem;
  }

  .picture {
    img {
      border-radius: 63% 88% 68% 87% / 82% 84% 69% 71%;
      width: 350px;
      @include mixins.boxShadow;
    }
  }
}
