@use "colors" as c;

.light-theme {
  background-color: white;
  color: c.$dark;
  transition: background-color 0.5s ease-in-out;

  .section-title {
    &::after {
      background-color: c.$dark;
    }
  }

  // > navbar
  .logo {
    &:hover {
      background-color: c.$dark;
      // color: c.$light;
      color: white;
    }
  }

  a {
    @for $i from 2 through 4 {
      &:nth-child(#{$i}) {
        &:hover {
          border-bottom: 1px solid c.$dark;
        }
      }
    }
  }

  .resume {
    border: 1px solid c.$dark;

    &:hover {
      background-color: c.$dark;
      color: white;
      // color: c.$light;
    }
  }

  .light-dark-toggle {
    &:hover {
      border: 1px solid c.$dark;
    }
  }

  // < navbar

  .project {
    .line {
      background-color: c.$dark;
      opacity: 0.3;
    }
  }

  .contact {
    a {
      color: c.$dark;
    }
  }

  // .email-test {
  //   a {
  //     color: c.$dark;
  //   }
  // }
  .scroll-top {
    color: c.$dark;
  }

  a {
    color: c.$dark;
  }

  // .bottom {
  //   a {
  //     color: c.$dark;
  //   }
  // }

  .modal {
    background-color: white;
    border: 1px solid c.$dark;

    .hey {
      background-color: c.$dark;
      // background-color: red;
      color: c.$light;
    }

    .message {
      a {
        color: c.$dark;
      }
    }
  }
}
