@use "colors" as c;

.light-theme {
  background-color: white;
  color: c.$dark;
  transition: background-color 0.5s ease-in-out;

  .section-title {
    &::after {
      background-color: c.$dark;
    }
  }

  a:hover {
    color: c.$dark;
    &:after {
      background-color: c.$dark;
    }
  }

  .light-dark-toggle {
    &:hover {
      border: 1px solid c.$dark;
    }
  }
  // < navbar

  .project {
    .line {
      background-color: c.$dark;
      opacity: 0.3;
    }
  }

  .contact {
    a {
      color: c.$dark;
    }
  }

  .scroll-top {
    color: c.$dark;
    // color: black;
    opacity: 0.7;
    // &:hover {
    //   opacity: 1;
    // }
  }

  a {
    color: c.$dark;
  }

  .modal {
    background-color: white;
    border: 1px solid c.$dark;

    .hey {
      background-color: c.$dark;
      color: c.$light;
    }

    .message {
      a {
        color: c.$dark;
      }
    }
  }

  .progress {
    background-color: c.$dark;
  }
}
