@use "colors" as c;
@use "mixins" as mixins;

header {
  margin-bottom: 2rem;
}
nav {
  a,
  i {
    cursor: pointer;
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mixins.mq(900px) {
    position: relative;
    justify-content: flex-start;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include mixins.mq(900px) {
      position: absolute;
      right: 0;
    }
  }

  &__left {
    position: absolute;
    // display: flex;
    display: none;
    justify-content: center;
    flex-direction: column;
    top: 5%;
    width: calc(100% - 2rem);
    text-align: center;

    a {
      color: c.$light;
      padding: 1rem;
      text-decoration: none;
      background-color: c.$dark-medium;
      &:not(:last-child) {
        border-bottom: 1px solid c.$light-medium;
      }
      &:hover {
        color: c.$dark;
        background-color: c.$light-medium;
      }
    }

    @include mixins.mq(900px) {
      position: static;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      display: flex;
      width: auto;
      a {
        padding: 0;
        background-color: transparent;
        border-bottom: none;
        &:not(:last-child) {
          margin-right: 1rem;
          border-bottom: none;
        }
        &:hover {
          color: c.$light;
          background-color: transparent;
          position: relative;
          &:after {
            content: "";
            width: 100%;
            height: 1px;
            background-color: c.$light;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateY(5px);
          }
        }
      }
    }
  }
}

.logo {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-right: 2rem;
  // padding: 0.5rem;
}

.light-dark-toggle {
  display: flex;
  align-items: center;
  margin-right: 1rem;

  @include mixins.mq(900px) {
    margin-right: 0;
    display: flex;
  }
  padding: 0.5rem;
  border: 1px solid transparent;
  i {
    padding-right: 0.5rem;
  }

  &:hover {
    border: 1px solid c.$light;
    // top: calc(-0.5rem - 1px);
    // right: -1px;
  }
}

.menu {
  font-size: 1.5rem;
  @include mixins.mq(900px) {
    display: none;
  }
}
