@use "colors" as c;

header {
  margin-bottom: 2rem;
}
nav {
  a,
  i {
    cursor: pointer;
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // position: relative;

  &__right {
    display: flex;
    align-items: center;
  }
  &__left {
    position: absolute;
    // background-color: red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 5%;
    width: calc(100% - 2rem);
    text-align: center;

    a {
      color: c.$dark;
      padding: 1rem;
      // color: c.$light;
      text-decoration: none;
      background-color: c.$light;
      &:not(:last-child) {
        border-bottom: 1px solid c.$dark;
      }
      &:hover {
        color: c.$light;
        background-color: c.$dark;
      }
    }
  }
}

.logo {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-right: 1rem;
  // padding: 0.5rem;

  // &:hover {
  //   background-color: c.$light;
  //   color: c.$dark;
  // }
}

.light-dark-toggle {
  margin-right: 1rem;
  padding: 0.5rem;
  border: 1px solid transparent;
  i {
    padding-right: 0.5rem;
  }

  &:hover {
    border: 1px solid c.$light;
    // top: calc(-0.5rem - 1px);
    // right: -1px;
  }
}

.menu {
  font-size: 1.5rem;
  // transform: translateY(10%);
}
