section.about#about
  h1.section-title About

  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque dicta odit non optio voluptates voluptate veniam quae nulla quibusdam minus.

  .video
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PkZNo7MFNFg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  .technologies

      .titles
        h3 Familiar with: 
        h3 Strongly interested in learning:

      .lists
        ul.familiar
          li HTML/PUG
          li CSS/SASS
          li Javascript
          li Git
          li AWS
          li Docker
          li Linux CLI

      
        ul.learning 
          li React/React Native
          li Databases (MongoDB, SQL...)
          li Serverless (Firebase, Azure...)

  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio reprehenderit necessitatibus quis voluptatibus dolores. Vel nemo illum, dolores reprehenderit amet alias, voluptate sapiente velit, nihil enim id? Corporis, soluta sunt!