section.about#about(data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease-in-out")
  h1.section-title About

  .about__description
    p I’m a developer currently living in southern California. 

    p My curiosity and desire to express my creativity has led me to pursue programming, having the power to build tools to automate/improve my life has proven to be satisfying. 

    p I want to understand how big projects are done and how teams of developers work together to build complex applications.

    p I prepared a quick video specially for you:

  .about__video(data-aos="fade-up")

    //- <iframe width="560" height="315" src="https://www.youtube.com/embed/gZqdOe6VoFQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="280" height="157.5" src="https://www.youtube.com/embed/gZqdOe6VoFQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  .about__technologies(data-aos="fade-up")

      .about__technologies--familiar
        h3 Familiar with: 
        ul
          li HTML/PUG
          li CSS/SASS
          li Javascript
          li Git
          li AWS
          li Docker
          li Linux CLI
      .about__technologies--familiar 
        h3 Strongly interested in learning:
        ul
          li React
          li React Native
          li Databases
          li Serverless (Firebase, Azure...)

  .about__description--bottom(data-aos="fade-up")
    p I’m currently spending some time learning the javascript framework React, my goal is to be able to build a application that can also work as a mobile app (probably using React native) and being able to understand databases (probably using mongodb or some serverless service).

    p I’m open to learn a language or tools based on the needs of the company.