main.hero(data-aos="zoom-in" data-aos-easing="ease-in-out" data-aos-mirror="true")


  .picture(data-aos="zoom-in-left" data-aos-easing="linear")
    img(src="images/profile_picture2.jpg", alt="", srcset="")
  .hi(data-aos="zoom-in-right"  data-aos-easing="linear")
    h1  Hi,
      br
      | I'm 
      span Trevor,
      br
      #typewriter-text
      