.modal
    <i class="fas fa-times"></i>
    .hey   
      span &#127774;
      p Wow! I was not expecting you to click on that link! Thanks for you being curious.
      span &#127774;

    .message
      p Like most people who likes computers and technology, I have no friends. &#128514;
      p I can figure out things on my own, I've doing it for my whole life, but would be nice to find someone more knowledgeble that can provide me guidance.

      p If you're that person and you're feeling charitable today, then you just gained a friend for life &#128588;

      
      .message-video
        p I prepared a little video for you:
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PkZNo7MFNFg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      p Send me a email with a simply "hi" or anything you want
      a(href="mailto:trevzix@gmail.com") trevzix@gmail.com 