//- header
//-   nav
//-     <i class="fas fa-bars"></i>
//-     .links
//-       .links-left
//-         a.logo.link trevzix
//-         a.link About
//-         a.link Projects
//-         a.link Contact
//-         a.resume(href="#") Resume
//-       .links-right 
//-         a.link#modal-link How to make a friend for life
//-         a.light-dark-toggle 
//-           i.fas.fa-sun
//-           | Too dark?


header
  nav
    
    .links
      a.logo trevzix

      .links__left
        a.link About
        a.link Projects
        a.link Contact
        a.resume(href="resume-trevor-nichols.pdf") Resume
      
      .links__right
        a.light-dark-toggle 
          i.fas.fa-sun
          | Too dark?
        <i class="fas fa-bars menu" id="menu"></i>
        //- <i class="fas fa-times hidden" id="menu-close"></i>


