nav
  .links
    .links-left
      a.logo.link trevzix
      a.link About
      a.link Projects
      a.link Contact
      a.resume(href="#") Resume
    .links-right 
      a.link#modal-link How to make a friend for life
      a.light-dark-toggle 
        i.fas.fa-sun
        | Too dark?