section.projects#projects
  h1.section-title Projects

  .project
    .projects-separator-left
      h2  NMPG - No Mouse Password Generator
      .line
      //- hr
    .projects-description 
      .image
        <img src='https://dummyimage.com/400x300.gif' alt=''/>
      .description
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, aliquam architecto a dolore optio omnis est quaerat assumenda culpa blanditiis aspernatur hic aut qui maiores dolorum corporis illum mollitia excepturi.
        ul
          li Lorem ipsum dolor sit amet.
          li Lorem ipsum dolor sit amet.
          li Lorem ipsum dolor sit amet.
          li Lorem ipsum dolor sit amet.
        .projects-links
          a
            <i class="fas fa-external-link-alt"></i>
          a
            <i class="fab fa-github"></i> 



  .project
    .projects-separator-right
      .line
      h2  Street Fighter 2 Character Selection
      
    .projects-description 

      .description
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, aliquam architecto a dolore optio omnis est quaerat assumenda culpa blanditiis aspernatur hic aut qui maiores dolorum corporis illum mollitia excepturi.
        ul
          li Lorem ipsum dolor sit amet.
          li Lorem ipsum dolor sit amet.
          li Lorem ipsum dolor sit amet.
          li Lorem ipsum dolor sit amet.
        .projects-links
          a
            <i class="fas fa-external-link-alt"></i>
          a
            <i class="fab fa-github"></i> 
      .image
        <img src='https://dummyimage.com/400x300.gif' alt=''/>

  .project
    .projects-separator-left
      h2  Super Customisable Weather app
      .line
      //- hr
    .projects-description 
      .image
        <img src='https://dummyimage.com/400x300.gif' alt=''/>
      .description
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, aliquam architecto a dolore optio omnis est quaerat assumenda culpa blanditiis aspernatur hic aut qui maiores dolorum corporis illum mollitia excepturi.
        ul
          li Lorem ipsum dolor sit amet.
          li Lorem ipsum dolor sit amet.
          li Lorem ipsum dolor sit amet.
          li Lorem ipsum dolor sit amet.
        .projects-links
          a
            <i class="fas fa-external-link-alt"></i>
          a
            <i class="fab fa-github"></i>                 